--- 
title: Home
---

%h1 udzura.jp
%h2 hi

%p i'm udzura (Uchio Kondo). i'm here.

%h2 contact

%pre.sh_sourceCode
  :preserve
    ruby -e "puts %q(
        <span style="color: yellow !important; font-weight: bold !important;">udzura__atmark__udzura.jp</span>
    ).sub(/__atmark__/, %q(@)).strip"

%h2 about

%p
  this is
  %a{:href => "/"} udzura.jp
  , Uchio Kondo's portrait. you can find more on the sidebar.

%div.images
  = render 'img_with_link', {:src_name => "150709359.jpg", :attrs => "width='250'", :caption => 'あくびちゃん'}
  %div 画像のサンプル＋リンクです

