--- 
title: Slides & Talks i have had
tags: ['pj']
---

%h1 Slides & Talks i have had

%p
  Now, some of slides are 
  %a{:href => "http://www.scribd.com/udzura1984"} available Here

%h2 Testing around Sinatra - TokyuRubyKaigi04 @ Shinsen, tokyo

%p Testing Sinatra with drunken people

:plain
  <a title="View Testing in Sinatra on Scribd" href="http://www.scribd.com/doc/73311432/Testing-in-Sinatra" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">Testing in Sinatra</a> <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/73311432/content?start_page=1&view_mode=slideshow&access_key=key-yvubfx8sf1hbpl5o3vl" data-auto-height="true" data-aspect-ratio="1.33333333333333" scrolling="no" id="doc_73939" width="100%" height="600" frameborder="0"></iframe><script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "http://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>

%h2 Start Padrino @ Hongo, tokyo

%p Intoroduction to Padrino framework, and the "buffet" style web development

:plain
  <a title="View Start Padrino on Scribd" href="http://www.scribd.com/doc/73312640/Start-Padrino" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">Start Padrino</a> <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/73312640/content?start_page=1&view_mode=list&access_key=key-1aws73v5ady3b5pep1tj" data-auto-height="true" data-aspect-ratio="1.5" scrolling="no" id="doc_98581" width="100%" height="600" frameborder="0"></iframe><script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "http://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>

%h2 At "LL Planets" korakuen Aug 2011

%ul
  %li sorry it's available only in Japanese...
  %li
    related blog post:
    %a{:href => "http://blog.udzura.jp/2011/08/23/ll-planets-private-report/"} in blog.udzura.jp

%h2 At "RubyKaigi of the darkness" nerima 2011

%ul
  %li Sinatra/Padrino intro for Rails-darksided people
  %li
    related blog post:
    %a{:href => "http://blog.udzura.jp/2011/07/19/i-went-to-rubykaigi2011-and-talked-on-sinatra-padrino/"} in blog.udzura.jp 

%h2 more coming...

%p really?
