--- 
title: Padrino Document in Japanese
tags: ['pj']
---

%h1 Padrino Document in Japanese

%div.images
  = render 'img_with_link', {:src_name => "padrinojp.png", :attrs => "width='440'", :caption => 'Padrino Documett JP'}
  %div Padrino Document JP...

%p 日本語化をしています。

%h2 Details

%ul
  %li
    %a{:href => "http://jp.padrinorb.com/"} Padrino で素敵なウェブ開発を (jp.padrinorb.com)
  %li
    I'm maintaining this web site! If you want to help, see
    %a{:href => "http://jp.padrinorb.com/pages/contribute"} Contribute
    \.
  %li
    管理人です！ 協力したい方は
    %a{:href => "http://jp.padrinorb.com/pages/contribute"} Contribute
    などを見てね。

