--- 
title: Atami
tags: ['webservice']
---

%h1
  %a{:href => "http://atami.udzura.jp/"} Atami

%div.images
  = render 'img_with_link', {:src_name => "atami.png", :attrs => "width='440'", :caption => 'Atami'}
  %div the "Atami" project

%h2 Details

%p
  %a{:href => "http://atami.udzura.jp/"} The Atami Project
  provides you a useful webservices for enjoying music and its events.
%p Currently, just a search engine for music news clip is available...
%p ロックを中心とした音楽の情報をウェブで便利に集めるための「The Atami Project」（NATSUMENが好きなので）を企画しているんですが、今のところニュースを検索するだけのページしかできていません（しかも Groonga を使いたいだけ感がある）。実験的、ということで。
