--- 
title: I'm Going...
tags: ['webservice']
---

%h1
  %a{:href => "http://going.udzura.jp/"} I'm Going...

%div.images
  = render 'img_with_link', {:src_name => "going.png", :attrs => "width='440'", :caption => 'I\'m Going...'}
  %div I'm Going...

%h2 Details

%p
  %a{:href => "http://going.udzura.jp/"} I'm Going...
  is a tool for sharing your planning-to-go events(conference, meetup, hack-a-thon, and so on),
  with what event-register webservice you/they use agnostic.
%p Let's share your plan and high-touch with your fellows!
%p 行く予定のイベントを共有したりリスト表示したりするサービスです。たくさんイベント登録系サイトが増えてるので、色々対応してまとめて管理できます。あと、友達がどこに行くかも分かったりします。
%p 「イベントかぶったらご挨拶させてください～」系のコミュニケーションを支援したいと思います。

%h2 Just before beta

%p
  Closed beta service coming soon. Contact
  %a{:href => "https://twitter.com/udzura"} me via twitter
  if you want to use and give me a feedback.
%p
  まずはクローズドベータあたりで様子を見るので、使ってフィードバックしたい方は
  %a{:href => "https://twitter.com/udzura"} 私にツイッター経由で（@とか）
  連絡ください。
