--- 
title: Music Benri Info
tags: ['webservice']
---

%h1
  %a{:href => "http://music-benri-info.heroku.com/"} Music Benri Info

%div.images
  = render 'img_with_link', {:src_name => "music-benri-info.png", :attrs => "width='440'", :caption => '便利１行音楽情報'}
  %div 便利１行音楽情報

%h2 Details

%p
  Respect for
  %a{:href => "http://hitode909.appspot.com/one-liner-music/"} Music from very short programs player using WebkitAudio
  \.
%p Copy and pase the code.
