--- 
title: xxx.udzura.jp
tags: ['webservice']
---

%h1
  %a{:href => "http://sex.udzura.jp/"} xxx.udzura.jp

%div.images
  = render 'img_with_link', {:src_name => "xxx-udzura-jp.png", :attrs => "width='440'", :caption => 'xxx.udzura.jp'}
  %div xxx.udzura.jp

%p Joke sexy site.

%h2 Details

%p Visit, sign-up, and register your "last" date. As time passing, the pink goes pale.
